<?xml version='1.0' encoding='utf-8'?>
<widget id="com.watertracker.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>喝水打卡</name>
    <description>
        一个简单的喝水打卡应用
    </description>
    <author email="dev@example.com" href="https://example.com">
        开发团队
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="35" />
        <preference name="android-compileSdkVersion" value="35" />
    </platform>

    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xff667eea" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
</widget>
